/* style.css */



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0  ;
    background-color: #b6b5b5;
    

}



header {
    background-color: black;
    color: white;
    text-align: center;
    padding: auto   ;
    position:fixed;
    width: 100%;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}

main {
    max-width: 1200px;
    margin: 100px ;
    padding: 2rem;
    
}

h1 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
    color: #ddd;
}

h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    color: #333;
    padding: auto  ;
    margin-top: 20px;
}

#catalogo {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#contacto{
    margin-top: 20px;
    padding: auto;
    height: 800px;
    

}

.producto {
    width: calc(25% - 20px);
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    
    
}

.producto:hover {
    transform: translateY(-5px);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.producto h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
}

.producto p {
    color: #666;
}

.producto a {
    display: inline-block;
    background-color: #ffc107;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.producto a:hover {
    background-color: #ff9800;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    
    bottom: 0;
    width: 100%;
}

.redes-sociales {
    margin-bottom: 20px;
    text-align: center;
}

.redes-sociales a {
    display: inline-block;
    font-size: 1.5rem;
    color: ##34a853;
    margin: 0 10px;
    transition: color 0.3s;
}

.redes-sociales a:hover {
    color: #34a853;
}



.mapa {
    /* Agrega estilos para el mapa, como altura y márgenes */
}
